body {
    background-image: url("../images/ben10.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
}

h1 {
    background-color: #002b00 ;   
    color: white;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 10px;
}

img {
    border: solid 8px #002b00;
    border-radius: 30px;
    box-shadow: 10px 5px 5px black;
    height: 500px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    border:solid 4px #002b00;

}

a{
color: white;
}
